/* @ import any google fonts here if you want */

* {

}

body {
    font-family: sans-serif;
    background-color: #ededed;
    padding: 15px;
    margin: 10px
}

.page-title {
    font-weight: 400;
    color: #242323;
background-color: rgb(240, 240, 240);
text-decoration: underline;
}

.search-container {
    display: flex;
    justify-content: flex-start
}

.h1 {

}

.h2 {

}

.h3 {

}

/* check Availability BUTTON  --------------------------------------*/
/* i had to get the selector name from dev tools that's why it's got a weird name */

input[type="button" i] {
    appearance: auto;
    user-select: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: greenyellow;
    color: black;
    white-space: pre;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: red;
    border-image: initial;
}


/*-----------------------------------------------------------------*/

/*LOCAL STORAGE SEARCH HISTORY*/
/* styling for local storage is currently placeholder */ 

.styling-for-local-storage-results {
color: yellow;
background: black;
}
/*---------------------------*/

#search {
    margin: 20px 0 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 20px 0 20px 0;
}

li .row img {
    width: 135px;
    height: 200px;

}




/*////////////////////////////////////////////////////////////////////////*/

/* API RESULT COLUMNS FORMAT */

/* Set additional styling options for the columns*/
/*these columns are placeholder, i got them from w3schools*/
/*feel free to change */

.column-API {
float: left;
width: 50%;
}

.row:after {
content: "";
display: table;
clear: both;
}

